@{
    ViewBag.Title = "contact";
}

<div class="row">
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office of the Vice Chancellor</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Prof. Surekha Dangwal - Vice Chancellor                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.105 (First Floor), Administrative Block, Doon University Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533102, 2533114                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>vcoffice@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office of the Registrar</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Mangal Singh Mandrawal - Registrar                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.111-103 (First Floor), Administrative Block, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533136                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>regoffice@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office- Finance Controller</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Mr Har Singh Baunal - Finance Controller                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.104 (First Floor), Doon University, Kedarpur, Mothrawala Road, PO. Defence colony Dehradun - 248001, Uttarakhand
                </li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533104                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>fc@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Deputy Registrar</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Mr. Narendra Lal -Deputy Registrar                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Ground Floor, Administrative Block, Doon University, Mothrawala Road, Kedarpur, P.O. Ajabpur, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533135                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533121                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>dr@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office- Dean Students Welfare</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Prof. H.C. Purohit - DSW                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>DSW Office, Faculty Offices Building, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533144                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>dsw@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office- School of Environment and Natural Resource</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Prof. Kusum Arunachalam - Head                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.110 (Ground Floor), Faculty Offices Building, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533103                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.senr@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office- School of Management</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Prof. H.C. Purohit - Head                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.111 (Ground Floor), Faculty Offices Building, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>91-135-2533144                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.som@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>School of Languages</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Ms Tanvi Negi (Head-Departments of Chinese Studies), Ms.Swagata Basu (Head-Department of Spanish Studies), Dr.Vipul Goswami (Head-Department of German Studies), Ms. Deepika Bhatia (Head-Department of Japanese Studies)                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.206 (Second Floor), Faculty Offices Building, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN-248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533124                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>soldoonuniversity@gmail.com                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office- School of Media &amp; Communication Studies</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Rajesh Kumar-Head                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.201 (Second Floor), Faculty Offices Building, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533107                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.somcs@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>School of Social Sciences</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Prof.Rajender Prasad Mamgain - Head (Department of Economics),Dr. Savita Tiwari Karnatak - Head (Department of Psychology)                                         </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.110(Third Floor), Faculty Offices Building, Doon University, Motharowala Road, Kedarpur, PO Defence Colony, Dehradun </li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533141                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.soss@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Nitya Nand Himalayan Study and Research Centre</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Prof. H. C. Purohit - Head                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>G-1, (Ground Floor) Nitya Nand Himalayan Study and Research Centre,  Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>0135-2533115                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.nhrs@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>School of Physical Sciences</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Narender Rawal-Head (Department of Computer Science), Dr.Himani Sharma-Head(Department of Physics), Dr.Arun Kumar- Head(Department of Chemistry),Dr. Asha Ram Gairola- Head (Department of Mathematics)                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Ground Floor, Composite Building, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533105                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.cs@doonuniversity.ac.in, hod.phy@doonuniversity.ac.in, hod.chem@doonuniversity.ac.in,  hod.maths@doonuniversity.ac.in,                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>School of Design</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Ms. Dhriti Dhaundiyal - Head                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>AB-III, Doon University, Mothrawala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>0135 2533105                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.design@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Incharge Controller of Examination</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Narender Kumar Rawal                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Ground Floor, Administrative Block, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533139                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>coe@doonuniversity.ac.in, exam@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Information Technology Cell (ICT)</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr.Narender Rawal- Coordinator                                         </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>First Floor, Administrative Block, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India </li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>itcell@doonuniversity.ac.in,narenrawal@gmail.com                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Career Counselling Training &amp; Placement Cell(CCTP)</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Prachi Pathak                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.17 (Ground Floor), Administrative Block, Doon University, Mothrowala Road, Kedarpur, P.O. Ajabpur, Dehradun, PIN 248001, Uttarakhand, India </li>
                <li>
                    <i class="fa fa-phone"></i>8936900025                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>placementcell@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office- Equal Opportunity Cell/Social Empowerment</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Mr. Ashish Kumar - Incharge                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.17 (Ground Floor), Administrative Block, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India </li>
                <li>
                    <i class="fa fa-phone"></i>+919411138490                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>ashish3k@gmail.com                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Office- Store and Purchase Officer</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr.Vipin Kumar Saini - Incharge                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.16 (Ground Floor), Administrative Block, Doon University, Mothrowala Road, Kedarpur, P.O.Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>+91-135-2533-108/134                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>spo@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Librarian</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Ashish Kumar                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>CENTRAL LIBRARY,ACADEMIC 3 BUILDING,DOON UNIVERSITY MOTHROWALA ROAD KEDARPUR P.O. DEFENCE COLONY</li>
                <li>
                    <i class="fa fa-phone"></i>-                                        </li>
                <li>
                    <i class="fa fa-fax"></i>-                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>akumar@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Assistant Registrar (Examination &amp; Finance)</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Mr.Sanjay Kumar Ghildiyal                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Doon University,Administrative Block,Mothrawala Road,Kedarpuram,Dehradun</li>
                <li>
                    <i class="fa fa-phone"></i>-                                        </li>
                <li>
                    <i class="fa fa-fax"></i>-                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>arexam@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Assistant Registrar (Administration)</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Mr. Mukesh Kumar                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Doon University,Administrative Block,Mothrawala Road,Kedarpuram,Dehradun</li>
                <li>
                    <i class="fa fa-phone"></i>0135-2533116                                        </li>
                <li>
                    <i class="fa fa-fax"></i>-                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>aradmin@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Coordinator- School of Biological Sciences</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Achlesh Daverey                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Ground Floor,Faculty Offices Building, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand,</li>
                <li>
                    <i class="fa fa-phone"></i>0135-2533103,01352533115                                        </li>
                <li>
                    <i class="fa fa-fax"></i>0135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.sobs@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>Assistant Engineer</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Mr. Shubham Nautiyal                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Room No.107 Doon University, Administrative Block, Doon University, Mothrowala Road, Kedarpur, P.O.Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>-                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>ae@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>HOD- Department of Geography</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Avijit Sahay                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Nitya Nand Himalayan Study and Research Centre, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>-                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.geography@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="single-sidebar-widget fix mb-25 asideMenuBox vcContact_box">
            <div class="sidebar-widget-title mb-25">
                <h5>HOD- Department of Geology</h5>
            </div>
            <ul class="categories">
                <li>
                    <i class="fa fa-user"></i>Dr. Vipin Kumar                                        </li>
                <li>
                    <i class="fa fa-map-marker map-icon"></i>Nitya Nand Himalayan Study and Research Centre, Doon University, Mothrowala Road, Kedarpur, P.O. Defence Colony, Dehradun, PIN 248001, Uttarakhand, India</li>
                <li>
                    <i class="fa fa-phone"></i>-                                        </li>
                <li>
                    <i class="fa fa-fax"></i>+91-135-2533115                                        </li>
                <li>
                    <i class="fa fa-envelope"></i>hod.geology@doonuniversity.ac.in                                        </li>
            </ul>
        </div>
    </div>

</div>
<style>
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-lg-6 {
        width: 50%;
    }

    .mb-25 {
        margin-bottom: 25px;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 40px;
    }

    .vcContact_box {
        min-height: 325px;
    }

    .asideMenuBox {
        border: 9px solid #eee;
        padding: 5px 12px;
        border-top: 6px solid #e9ecef;
    }

    .mb-25 {
        margin-bottom: 25px;
    }

    .vcContact_box .sidebar-widget-title > h5 {
        color: #e02a2a;
    }

    .sidebar-widget-title > h5 {
        font-weight: 600;
        padding-bottom: 8px;
        position: relative;
        text-transform: uppercase;
    }

    .vcContact_box ul {
        padding-left: 50px;
    }

    ul, ol {
        margin-bottom: 10px;
        margin-top: 0;
    }
</style>
