@{
    ViewBag.Title = "hostel";
}
<section id="blog">
    <div class="container">
        <div class="row">
            <!--/.col-sm-6-->
            <div class="col-sm-9 col-md-9 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
                <h3 class="column-title inner-title">Hostel Facilities</h3><br>
<!--                <p><b>Student Hostel Allotment First List [ <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/boys_hostel_list.pdf" target="_blank">MALE</a> | <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/girls_hostel_list.pdf" target="_blank">FEMALE</a> ] <img class="padding-none border-none" src="images/new1.gif" height="11" width="26"></b></p>
                <p><b>Hostel Allotment Second List [ <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/boys_hostel_newlist.pdf" target="_blank">MALE</a> | <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/hostel_2_list.pdf" target="_blank">FEMALE</a> ] <img class="padding-none border-none" src="images/new1.gif" height="11" width="26"></b></p>
                <p><b>Hostel Allotment Last list [ <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/0019_hostel_accomodation.pdf" target="_blank">MALE</a> ] <img class="padding-none border-none" src="images/new1.gif" height="11" width="26"></b></p>-->
                <div class="facility-part">
                    <p class="text-justify"> Students are expected to stay in the Hostel unless permitted otherwise. The students are encouraged to stay in the Campus as they will be required to participate in group discussions and attend tutorials after the regular classes are over which will help the student to clarify any doubts in the courses and improve their interpersonal and communication skills. There are separate hostels for girls and boys. The hostels with single accommodation for each student are provided with modern facilities. All students residing in the Hostel are to abide by Hostel and Cafeteria Regulations/Rules. The students are not permitted to keep firearms and music systems. They are also advised not to keep jewelry, camera and heavy cash with them in the Hostel.</p>
                   <div class="row">
                     <div class="col-md-6"><img src="https://doonuniversity.ac.in/asset/images/boys-hostel.jpg" class="img-responsive pull-left"><br>
                        <h5>Boys Hostel</h5>
                    </div>
                    <div class="col-md-6"><img src="https://doonuniversity.ac.in/asset/images/girls-hostel.jpg" class="img-responsive pull-left"><br>
                        <h5>Girls Hostel</h5>
                    </div>
                       </div>
                </div>
                <br>
                <br>
                <div class="clearfix"></div>
                <div class="abt-text">
                    <h4 class="column-title inner-title">Banking facility</h4><br>
                    <p class="text-justify">Banking facility with ATM will be available at the Campus very soon. All the students are required to carry their identity cards all the time.</p>
                    <h4 class="column-title inner-title">Medical Aid on campus</h4><br>
                    <p class="text-justify">Adequate medical health facilities will be available to students at the Campus very soon.</p>
                    <h4 class="column-title inner-title">Extracurricular activities</h4><br>
                    <p class="text-justify">Extracurricular activities/ Games and Sports/Cultural activities The University will encourage participation of students in sports and games for which adequate facilities will be available. Extracurricular activities such as literary, cultural, social, film, etc. are organized at the University level.</p>
                </div>
                <div class="abt-text">
                    <h5 class="red-text"><i class="fa fa-check-square"></i> Dr. Suneet Naithani, Chief Warden</h5>
                    <p>For any general queries related to hostel, contact caretakers of respective hostel:</p>                    
<!--                    <p><img class="padding-none border-none" src="images/new1.gif" height="11" width="26"> <a href="">HOSTEL ALLOTMENT LIST 2018-19</a></p>
                    <p><img class="padding-none border-none" src="images/new1.gif" height="11" width="26"> <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/bh_allot_2018-19_i.pdf" target="_blank">Boys Hostel Allotment</a></p>
                    <p><img class="padding-none border-none" src="images/new1.gif" height="11" width="26"> <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/hostels.pdf" target="_blank">Shivalik Boy's Hostel second list updated - 30th July</a></p>
                    <p><img class="padding-none border-none" src="images/new1.gif" height="11" width="26"> <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/third_list_boys.pdf" target="_blank">Shivalik Boy's Hostel third list updated, 10- Aug-2018</a></p>-->
                    <div class="row">                       
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4 class="column-title inner-title">Shiwalik Boys Hostel</h4>
                            <h6><i class="fa fa-check-square"></i> Rakesh Negi- 8077804137</h6>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4 class="column-title inner-title">Alaknanda Girls Hostel</h4>
                            <h6><i class="fa fa-check-square"></i> Vimla- 9758034564</h6>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4 class="column-title inner-title">Mandakini Girls Hostel</h4>
                            <h6><i class="fa fa-check-square"></i> Lakshmi- 9690663533</h6>
                        </div>
                    </div>
                    <br>
                        <!--                    <p><img class="padding-none border-none" src="images/new1.gif" height="11" width="26"> <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/gh_allot_2018-19_i.pdf" target="_blank">Girls Hostel Allotment</a></p>
                                            <p><img class="padding-none border-none" src="images/new1.gif" height="11" width="26"> <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/alaknanda girls hostel allotment.pdf" target="_blank">Alaknanda Girl's Hostel Second list (Last date : 3-Aug-2018)</a></p>
                                            <p><img class="padding-none border-none" src="images/new1.gif" height="11" width="26"> <a href="https://doonuniversity.ac.in/admin/assets/uploads/docs/hostel_allot.pdf" target="_blank">Alaknanda Girl's Hostel 3rd list updated (Last date : 10-Aug-2018)</a></p>-->
                    <p>For any URGENT queries related to the hostel, contact the warden of the respective hostel:</p>
                    <div class="row mb15">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <h5><i class="fa fa-check-square"></i> Warden Office - +91 135 253 3143</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4 class="column-title inner-title">Shiwalik Boys Hostel</h4>
                            <h6><i class="fa fa-check-square"></i> Dr. Sudhanshu - 9997410336</h6>
                            <h6><i class="fa fa-check-square"></i> Dr. Vipin- 9897958508</h6>
                            <h6><i class="fa fa-check-square"></i> Dr. Nitin- 9719126552</h6>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4 class="column-title inner-title">Alaknanda Girls Hostel</h4>                                                                          
                            <h6><i class="fa fa-check-square"></i> Dr. Preeti Mishra - 82180 61127</h6>
                            <h6><i class="fa fa-check-square"></i> Dr. Rich Joshi Pandey - 94105 84916</h6>  
                            <h6><i class="fa fa-check-square"></i> Dr. Vaishali - 9760206658</h6>         
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <h4 class="column-title inner-title">Mandakini Girls Hostel</h4>
                            <h6><i class="fa fa-check-square"></i> Ms. Deepika - 9760370000</h6>
                            <h6><i class="fa fa-check-square"></i> Ms. Gazala -  9997351225</h6>
                        </div>
                    </div>
                </div>
            </div>
</div>
        </div>
    <br>
    <br>
    <br>
</section>
<style>
    .col-md-6 {
    width: 50%;
}
</style>