<style>
    * {
         margin:0px;
         padding:0px;
    }
     .home{
             width: 100%;
             height: 75vh;
    }
        .home img {
            width:100%;
           
        }
</style>
<div class="home"><img src="https://www.washoeschools.net/cms/lib/NV01912265/Centricity/Domain/1591/front%20page/website%20photo%20homepage%20final.jpg" > </div>
