@{
    ViewBag.Title = "library";
}

<section id="blog">
    <div class="container">
        <div class="row">
            <!--/.col-sm-6-->
            <div class="col-sm-9 col-md-9 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
                <h3 class="column-title inner-title">About the Library</h3><br>                
                <div class="abt-text"> <img src="https://doonuniversity.ac.in/asset/images/library.jpg" height="150" width="316" class="img-responsive pull-left">
                    <h5>Welcome to Central Library, ABC Public School</h5>
                    <p class="text-justify">The Central Library was set up in 2009 to support the teaching learning process in the University, and since then the Library has been consistently making efforts to develop a strong collection of learning resources and to provide access to knowledge through its services. The Library is broadly divided into two parts; Reading Section and Circulation Section. Both sections combined have a good number of printed documents, including textbooks, reference books, reports, yearbooks, manuals and case studies. The circulation section consists of books of all the UG/PG courses covered by the different schools of the university and one can issue a designated number of books from this section.</p>
                    <p class="text-justify"> In order to support the teaching and research process of the University, the Library is subscribing both print and electronic based journals, a total of 69 print journals/magazines and 126 e-journals of Science Direct are available in the library, apart from this Library also provides access to more than 6000 e-journals through INFLIBNET consortia.</p>
                    <p class="text-justify"> The Library has made significant developments in terms of integrating ICT in library and information services; the library is using Library Management Software LibSys7 for its housekeeping and other activities. OPAC of LMS is also available on the university intranet for searching books of the Library. ICT is also used in the Library services, and automatic delivery of email and SMS to the user of their library transaction are some visible examples of this.</p>
                </div>
                <h4 class="column-title inner-title">Our Vision</h4><br>
                <div class="abt-text">
                    <p class="text-justify"> The ultimate vision is to equip Library with world class infrastructure and services to support academic and research activities of the University.</p>
                </div>
                <h4 class="column-title inner-title">Our Mission</h4><br>
                <div class="abt-text">
                    <ul class="nostyle">
                        <li><i class="fa fa-check-square"></i> To be world class knowledge centre in the area of Social Science, Humanities &amp; Science.</li>
                        <li><i class="fa fa-check-square"></i> To support the University mission to contribute to society through the pursuit of education, learning &amp; research.</li>
                        <li><i class="fa fa-check-square"></i> To provide knowledge resources to meet the information need of the academic community.</li>
                    </ul>
                </div>
                <h4 class="column-title inner-title">Library Timings</h4><br>
                <div class="abt-text">
                    <p> <b>Circulation Section</b><br>
                        Monday to Saturday: 10 AM to 5:30 PM<br>
                        <b>Reference Section</b><br>
                        Monday to Saturday: 9 AM to 9:30 PM*<br>
                        Sunday and Holidays: 10 AM to 5:00 PM*<br>
                    </p>
                </div>
                <h4 class="column-title inner-title">Library Resources</h4><br>
                <div class="abt-text">
                    <p class="text-justify"> The Library has good number of resources, these resources cover wide area of the Universe of knowledge, to know more about the Library Resources, please </p>
                </div>
                <h4 class="column-title inner-title">Library Services</h4><br>
                <div class="abt-text">
                    <p class="text-justify"> The Library offers number of services to its users, to know more about the Library Services, please </p>
                </div>
            </div>
            <div class="col-md-3 sidebar right-sidebar">
    <div class="widget widget-categories">
        </div>
    </div>
</div>        </div>
    
    <br />
    <br />
    <br />
</section>
